.App {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.sorting-table {
  DEPdisplay: flex;
  DEPflex-direction: column;

  position: relative;

  height: 80vh;
  width: 80vw;
}

.header-row {
  display: flex;
  justify-content: space-around;

  position:absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header-row div {
  width: 33%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0%;
  transition: all 2s ease-in-out;
}

.row div {
  width: 33%;
}

.sorting-table div {
  padding: 3px;
  border: 0.5px solid black;
}
